*{
	box-sizing: border-box;
}
body{
	width: 100%;
	margin-top: 50%;
	background-color: rgb(253, 251, 251);
	padding: 0;
	margin: 0;
}
main{
	
	border: 2px solid red;	
}
aside{
	border: 2px solid  blue;
}
article{
	border: 2px solid  blueviolet;
}
ul, ol{
	border: 2px solid black
}
img{
	border: 2px solid green;
}

section .lado-direito{
	float: right;
	width: 50%;
}
section .lado-esquerdo{
	float: left;
	width: 50%;
}
.lado-a-lado{
	display: inline-block;
}



#cabecalho{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: darkgrey;
}
#titulo{
	text-align: center;
	
	color: azure;
	font-size: 42pt;
	text-shadow: 5px 5px black;
}
#rodape{
	border: 2px solid  cadetblue;
	width: 100%;
	padding: 25px;
	text-align: center;
	
}

#rodape a{
	font-weight: bold;
	text-decoration: none;
	color: darkgreen;
	font-size: 25pt;
}
